<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= event.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= event.end %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= event.uid %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id %>
  </p>

</div>
