<p style="color: green"><%= notice %></p>
<div class="container mt-5 ">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">    <%=  @event.title %>
    </h5>
    <p class="card-text">    <%=  @event.description %>
    </p>
    <p class="card-text">       <%=  @event.start.strftime('%A, %B %d, %Y at %I:%M %p') %>

    </p>
    <p class="card-text">     <%=  @event.end.strftime('%A, %B %d, %Y at %I:%M %p') %>
    </p>
    <p class="card-text">      <%=  @event.location %>
    </p>
   <%= link_to "Calendar", "../calendars/#{@event.calendar_id}" %>
   
<%= button_to "Destroy this event", @events, method: :delete %>
  </div>
</div>
</div>
