<div class="container mt-5 text-center">
  <h1 class="my-5">Calendar</h1>
  <% if @events %>
  <%= month_calendar(events: @events,attribute: :dtstart, end_attribute: :dtend) do |date, events| %>
    <div class="day">
      <%= date.strftime('%d') %>
    </div>
    <% events.each do |event| %>
      <div class="border my-3">
        <div class="card-header ">
          <h6 class="card-title">
            <% event.dtstart.strftime('%A, %B %d, %Y at %I:%M %p') %>
            <%= link_to event.summary, "events/#{event.uid}" %>
          </h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= event.description %>
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">
            Location: <%= event.location %>
          </p>
        
        </div>
      </div>
    <% end %>
  <% end %>
  <% else %>
    <%= month_calendar() do |date| %>
    <div class="day">
      <%= date.strftime('%d') %>
    </div>
    <%end %>
     <%end %>

           <%= link_to "New event", new_event_path %>

</div>
