<p style="color: green"><%= notice %></p>

<div class="container mt-5 text-center">

  <h1 class="my-5"> Calendar <% @calendar[:Name] %> </h1>
  <% if @events %>
    <%= month_calendar(events: @events,attribute: :start_date, end_attribute: :end_date) do |date, events| %>
      <div class="day">
        <%= date.strftime('%d') %>
      </div>
      <% events.each do |event| %>
        <div class="border my-3">
          <div class="card-header ">
            <h6 class="card-title">
              <% event.start_date.strftime('%A, %B %d, %Y at %I:%M %p') %>
              <%= link_to event.title, "../events/#{event.id}" %>
            </h6>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= event.description %>
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text">
              Location: <%= event.location %>
            </p>

          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= month_calendar() do |date| %>
      <div class="day">
        <%= date.strftime('%d') %>
      </div>
    <%end %>
  <%end %>
  <div class="d-flex gap-5 justify-content-center align-items-center">
  
    <%= link_to "Create New Event", "../events/new?calendar=#{@calendar.id}" %>
    
    <%= link_to "Download Offline ICS",  "data:text/calendar;charset=utf8,#{@ical_ics}" ,  :format => :ics %>
  </div>
  <p class="mt-5">Calendar ICS Link</p>
  <code><%=  "#{@str}/ics/#{@calendar.id}.ics" %></code>
  <div class="my-5">
    <%= link_to "Edit this calendar", edit_calendar_path(@calendar) %> |
    <%= link_to "Back to calendars", calendars_path %>
  </div>

  <%= button_to "Remove this calendar", @calendar, method: :delete %>
</div>
